<mat-card>
  <mat-card-header>
    <mat-card-title>Button styles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <strong>Generic</strong>
      <button mat-button >Generic</button>
      <button mat-button color="primary" >Primary</button>
      <button mat-button color="accent" >Accent</button>
      <button mat-button color="warn" >Warn</button>
    </div>
    <div>
      <strong>Raised</strong>
      <button mat-raised-button>Raised</button>
      <button mat-raised-button color="primary" >Primary</button>
      <button mat-raised-button color="accent" >Accent</button>
      <button mat-raised-button color="warn" >Warn</button>
    </div>
    <div>
      <strong>Stroked</strong>
      <button mat-stroked-button>button</button>
      <button mat-stroked-button color="primary" >Primary</button>
      <button mat-stroked-button color="accent" >Accent</button>
      <button mat-stroked-button color="warn" >Warn</button>
    </div>
    <div>
      <strong>Flat</strong>
      <button mat-flat-button>Flat</button>
      <button mat-flat-button color="primary" >Primary</button>
      <button mat-flat-button color="accent" >Accent</button>
      <button mat-flat-button color="warn" >Warn</button>
    </div>
  </mat-card-content>
</mat-card>
